@page "/"
@page "/todo"

<PageTitle>Todo</PageTitle>

<h1>Todo (@todos.Count(todo => !todo.IsDone))</h1>


<MudPaper Width="400px">
    <MudList Clickable="true">
         @foreach (var todo in todos)
         {
            <MudListItem >
                <MudStack Row="true">
                    <MudCheckBox @bind-Checked="@todo.IsDone" Label="@todo.Title"></MudCheckBox><MudIconButton @onclick="@(() => { DeleteTodo(@todo);})" Icon="@Icons.Material.Filled.Delete"></MudIconButton>
                </MudStack>
            </MudListItem>
         }
    </MudList>
</MudPaper>



<MudTextField placeholder="Something todo" @bind-Value="newTodo" Variant="Variant.Outlined"/>
<MudButton @onclick="AddTodo" Variant="Variant.Filled" Color="Color.Primary">Add todo</MudButton>

@code {
    private string? newTodo;
    private List<TodoItem> todos = new ();
    

    private void AddTodo(){
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
    private void DeleteTodo(TodoItem item){
        todos.Remove(item);
    }
}
